<h3>Would you like to play a game?</h3>

<%= form_for @invitation do |f| %>
  <% if @invitation.errors.any? %>
    <div class="error_messages">
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :game %>
    <%= fields_for :game_type do |g| %>
      <%= select_tag(:game_type_id, options_for_select(GameType.options_all)) %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :opponent %>
    <%= f.text_field :recipient_player, placeholder: 'Name your opponent' %>
    <div class="instructions">Or leave blank for a random opponent.</div>
  </div>
  <div class="actions">
    <%= f.submit "Send invitation" %>
  </div>
<% end %>
